<main>
  <section class=" navigate profile">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-4 ">
          <div
            class="nav flex-column nav-pills"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >  <div class="navigate-linkContent">
            <a class="nav-link active" 
              ><img src="/homeBlack.svg" alt="" />Профиль</a
            >
            </div>
            <div class="navigate-linkContent">

            <a class="nav-link"  href="/profile/addBook"
              ><img src="/addBlack.svg" alt="" />Добавить книгу<span class="badge">{{user.books.length}}</span></a
            >
            </div>
             <div class="navigate-linkContent">
            <a class="nav-link"  href="/profile/favorites"
              ><img src="/favorite.svg" alt="" />Избранное<span class="badge">{{user.favorites.length}}</span></a
            >
            </div>
            <div class="navigate-linkContent">
            <a class="nav-link"  href="/profile/settings"
              ><img src="/settingBlack.svg" alt="" />Настройки</a
            >
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-7 profile-content">
          <div class="profile-hello">
            <p>Привет, <strong>{{user.userName}}</strong></p>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                 {{#if book}}

               
                <div class="profile-header">
                  <p>Мои добавленные книги</p>
                </div>
                {{!-- карточки с книгами --}}
                <div class="row row-cols-xl-2 row-cols-lg-1">
                  {{#each book}}
                  <div class="card mb-5">
                    <div class="row no-gutters">
                      <div class="col-xl-4 col-lg-4 book-img">
                        <img
                          src="https://cv7.litres.ru/pub/c/elektronnaya-kniga/cover_415/48686275-tatyana-ustinova-serga-artemidy.jpg"
                          class="card-img"
                          alt="..."
                        />
                      </div>
                      <div class="col-xl-7 col-lg-7">
                        <div class="card-body">
                          <p class="card-title">{{bookName}}</p>
                          <p class="card-text">{{author}}</p>
                          <p class="card-text">{{genre}}</p>
                          <div class="card-give">
                            <img src="./giveBook.svg" alt="" />
                          </div>
                          <div class="card-actions">
                            <a href=""
                              ><img
                                src="./settingBook.svg"
                                alt=""
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Редактировать"
                            /></a>
                            <form action="/profile/deleteBook" method="POST">
                           <input type="hidden" name="_id" value="{{ _id}}">
                            <button type="submit"
                              ><img
                                src="./deleteBook.svg"
                                alt=""
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Удалить книгу"
                            /></button>
                            <input type="hidden" name="_csrf" value="{{@root.csrf}}" />
                            </form>
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
                  {{/each}}
                </div>
                   {{else}}
                      <div class="profile-header">
                  <p>Книги еще не добавлены</p>
                </div>
                  {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
